*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: math;
}

.container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* h2{
    margin: 10px 0px;
} */

.btn{
    height: 40px;
	width: 100px;
	margin: 25px 10px;
	border: none;
	border-radius: 50px;
	background-color: rgb(253, 253, 253);
	font-weight: 600;
}

.btn-del{
    height: 20px;
	width: 80px;
	margin: 8px 10px;
	border: none;
	border-radius: 50px;
	background-color: orange;
	font-weight: 600;
}

h1{
    margin: 20px 0px;
}

.items{
    min-height: 400px;
    width: 70%;
    background-color: rgb(185, 185, 185);
    margin: 20px 0px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.input-item{
    height: 40px;
    /* width: 300px; */
    border: none;
    border-radius: 50px;
    padding: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.items-item{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right{
    width: 50%;
    height: auto;
}

table{
    margin: 15px;
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}

.tbl-heading{
    height: 40px;
    background-color: orange;
}

table tr{
    height: 20px;
}

.tr0{
    background-color: rgb(252, 236, 206);
    height: 20px;
}

.tr1{
    background-color: rgb(252, 212, 139);
}