 body{
            font-family: Arial;
            background: #f4f6f7;
        }

        h2{
            text-align: center;
        }

        form{
            width: 400px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 5px;
        }

        input, button{
            width: 100%;
            padding: 8px;
            margin: 5px 0;
        }

        table{
            width: 95%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        table, th, td{
            border: 1px solid black;
        }

        th, td{
            padding: 8px;
            text-align: center;
        }

        button{
            cursor: pointer;
        }